.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.loading {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.error {
  padding: 16px;
}

.mapContainer {
  flex: 1;
  position: relative;
}
